html,
body {
  margin: 0;
  padding: 0;
}

.explanation-item,
.invisible {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.explanation-item.hover {
  transform: scale(1.1);
}

.invisible:hover {
  cursor: pointer;
  transform: scale(1.1);
}

svg {
  width: 100vw;
  height: auto;
}

#html-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  max-width: 50vw;
  max-height: 70vh;
  overflow: auto;
  font-family: Virgil, "Segoe UI Emoji", sans-serif;
  outline: none;
  border-radius: 1rem;
}

.popup div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
